*{
  padding: none;
  margin: none;
  font-family: serif monospace sans-serif;
  box-sizing: border-box;
}

body{
  background: white ;
}

.none{
  border: none;
  padding: none;
  margin: none;
  background: white;
}

.app-section{
  margin-left: 25px;
  font-size: 25px;
  font-weight: bold;
  color: #383838;
}

.wrapper{
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  border-radius: 15px;
}

.d-apps-active{
  height: 200px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #e78deb;
  box-shadow: 7px 7px 2.5px grey;

}

.d-apps-active:hover{
  background: #e8e8e8;
  height: 215px;
  cursor: pointer;
}


.app-logo{

  display: flex;
  width: 60px;
  height: 60px;
  margin-down: 400px;
  border-bottom: 200px;
  border-style: none;
  font-family: serif sans-serif;
}

.app-logo a{
  text-decoration: none;
  font-size: 24px;
  color: #454545;
  padding: 17px;
  padding-left: 14px;
}

.app-logo a:hover{
  font-size: 28px;
  font-weight: 100;
  color: #e78deb;
}


.about-app{
  font-size: 18px;
  margin: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #737373;
}

.about-app:hover{
  font-size: 20px;
  cursor: default;
}

.img{
  height: 90%;
  width: 90%;
  outline: none;
  border: none;
}

.img:hover{
  height: 100%;
  width: 100%;
  cursor: default;
}

@media only screen and  (max-width: 950px){

  .wrapper{
    grid-template-columns: 1fr 1fr;
  }

  .d-apps-active{
    height: 210px;
  }

  .d-apps-active:hover{
    height: 215px;
  }

  .about-app{
    font-size: 20px;
  }

  .about-app:hover{
    font-size: 22px;
  }

}

@media only screen and  (max-width: 780px){

  .about-app{
    font-size: 19px;
  }

  .about-app:hover{
    font-size: 20px;
  }

}

@media only screen and  (max-width: 700px){

  .d-apps-active{
    height: 230px;
  }


  .d-apps-active:hover{
    height: 240px;
  }

}

@media only screen and  (max-width: 590px){

  .d-apps-active{
    height: 250px;
  }


  .d-apps-active:hover{
    height: 265px;
  }

}

@media only screen and  (max-width: 550px){

  .wrapper{
    grid-template-columns: 1fr;
  }

  .d-apps{
    height: 300px;
  }

  .d-apps-active{
    height: 200px;
    padding: 13px;
  }

  .d-apps-active:hover{
    height: 205px;
    padding: 13px;
  }
}
