*{
  padding: none;
  margin: none;
  font-family: serif monospace sans-serif;
  box-sizing: border-box;
}

body{
  background: white ;
}

.search{
  margin-left: 340px;
  margin-top: 50px;
  outline: none;
  border-radius:4px;
  margin-right: 300px;
}

.search-bar{
  padding: 10px;
  font-size: 17px;
  border: 1px solid #e78deb;
  outline: none;
  float: left;
  width:600px;
  height: 45px;
  font-size: 17px;
  border-radius:20px;
  content: "";
  clear: both;
  display: table;
}

.search-bar:hover{
  box-shadow: 2px 2px 0.5px grey;
  font-size: 18px;
}

.search-bar:active{
  box-shadow: none;
  font-size: 17px;
}

i {
  color: blue;
  border-left: none;
  cursor: pointer;
}

button{
  border-radius:80px;
  height:50px;
  width:50px;
  outline: none;
  border: 1px solid #e78deb;
  font-size: 17px;
  background: white;
}

button:hover{
  box-shadow: 1px 1px 0.5px grey;
  font-size: 18px;
}

button:active{
  box-shadow: none;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}


.none{
  border: none;
  padding: none;
  margin: none;
  background: white;
}

.app-section{
  margin-left: 25px;
  font-size: 25px;
  font-weight: bold;
  color: #383838;
}

.wrapper{
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  border-radius: 15px;
}

.d-apps-active{
  height: 200px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #e78deb;
}

.d-apps-active:hover{
  background: #e8e8e8;
  height: 215px;
  cursor: pointer;
  box-shadow: 4px 4px .5px grey;
}

.d-apps-active:active{
  background: white;
  box-shadow: none;
}

.app-logo{

  display: flex;
  width: 60px;
  height: 60px;
  margin-down: 400px;
  border-bottom: 200px;
  border-style: none;
  font-family: serif sans-serif;
}

.app-logo a{
  text-decoration: none;
  font-size: 24px;
  color: #454545;
  padding: 17px;
  padding-left: 14px;
}

.app-logo a:hover{
  font-size: 28px;
  font-weight: 100;
  color: #e78deb;
}


.about-app{
  font-size: 17px;
  margin: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #737373;
}

.about-app:hover{
  font-size: 18px;
  cursor: default;
}

.img{
  height: 90%;
  width: 90%;
  outline: none;
  border: none;
}

.img:hover{
  height: 100%;
  width: 100%;
  cursor: default;
}

@media only screen and  (max-width: 985px){

  .wrapper{
    grid-template-columns: 1fr 1fr;
  }

  .d-apps-active{
    height: 210px;
  }

  .d-apps-active:hover{
    height: 215px;
  }

  .about-app{
    font-size: 18.5px;
  }

  .about-app:hover{
    font-size: 19px;
  }

}

@media only screen and  (max-width: 780px){

  .about-app{
    font-size: 17px;
  }

  .about-app:hover{
    font-size: 18px;
  }

}

@media only screen and  (max-width: 740px){

  .about-app{
    font-size: 17px;
  }

  .about-app:hover{
    font-size: 17.7px;
  }

}

@media only screen and  (max-width: 700px){

  .d-apps-active{
    height: 230px;
  }


  .d-apps-active:hover{
    height: 240px;
  }

  .about-app{
    font-size: 17px;
  }

  .about-app:hover{
    font-size: 18px;
  }

}

@media only screen and  (max-width: 590px){

  .d-apps-active{
    height: 250px;
  }


  .d-apps-active:hover{
    height: 265px;
    font-size: 17.6
  }

}

@media only screen and  (max-width: 550px){

  .wrapper{
    grid-template-columns: 1fr;
  }

  .d-apps{
    height: 300px;
  }

  .d-apps-active{
    height: 200px;
    padding: 13px;
  }

  .d-apps-active:hover{
    height: 205px;
    padding: 13px;
  }
}
