*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif monospace sans-serif;
}

body{
  background: #000000;
}

nav{
  background: white;
    height: 65px;
}

nav::after{
  content: '';
  clear: both;
  display: table;
}

nav .logo{
  float: left;
  margin-top: 12px;
  top: 60px;
}

nav .logo #word{
  font-size: 20px;
  position: relative;
  left: 13px;
  bottom: 19px;
  color: #8f4eb5;
  text-decoration: none;
}

nav .logo img{
  position: relative;
  left: 20px;
  bottom: -2px;
}


nav ul{
  float: right;
  list-style: none;
  margin-right: 30px;
  position: relative;

}

nav ul li{
  float: left;
  display: inline-block;
  margin: 0 5px;
  color: black;
}

nav ul li a{
 color: black;
 text-decoration: none;
 line-height: 60px;
 font-size: 20px;
 padding: 8px 15px;
}

nav ul li a:hover{
  color: #10adad;
}

nav ul li :focus{
  color: #10adad;
  box-shadow: 0 0 3px #10adad,
              0 0 3px #10adad;
  text-decoration: none;
}

div > #search-bar{
  width: 500px;
  height: 50px;
  outline: none;
}
