*{
  padding: 0;
  margin: none;
  font-family: serif monospace sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.search-container{
  height: 180px;
  width: 100%;

  opacity: 60%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.info{
  font-size: 21px;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 10px;
  font-family: 'Montserrat';
  height: 10px
}

.search-container .input{
  border: 1px solid #a440a8;;
  outline: none;
}

.search-wrap{
  width: 650px;
  margin: 30px auto;

}

.search-wrap .search-box{
  position: relative;
  width: 650px;
  height: 70px;
}

.search-wrap .search-box .input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 18px;
  padding-right: 80px;
}

.search-wrap .search-box .input:hover{
  font-size: 19px;
}

.search-wrap .search-box .input:active{
  font-size: 18px;
}

form .search::after{
  content: "";
  clear: both;
  display: table;
}

button {
  border: 0px;
  outline: none;
}

.search-wrap .search-box .btn{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 80%;
  background: #701822;
  z-index: 1;
  cursor: pointer;
}

.search-wrap .search-box .btn:hover{
  background: #a33c49;
}

.search-wrap .search-box .btn.btn_common .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 0;
}

.search-wrap .search-box .btn.btn_common .fas:hover{
  font-size: 23px;
}

.search-wrap .search-box .btn.btn_common .fas:active{
  font-size: 21.5px;
}

.search-wrap .search-box .btn{
  right: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


@media all and (min-width: 769px) and (max-width: 1024px){

  .search-container{
    border-radius: 0;
  }

  .search-wrap{
    width: 620px;
  }

  .search-wrap .search-box{
    position: relative;
    width: 620px;
    height: 58px;
  }

  .info{
    font-size: 19px;
  }

  .search-wrap .search-box .input {
    padding: 7px 17px;
    border-radius: 5px;
    font-size: 16.5px;
  }

  .search-wrap .search-box .input:hover{
    font-size: 17px;
  }

  .search-wrap .search-box .input:active{
    box-shadow: none;
    font-size: 16.5px;
  }
}

@media all and (min-width: 600px) and (max-width: 761px) {

  .info{
    padding-left: 0;
  }

  .search-container{
    border-radius: 0;
  }

  .search-wrap{
    width: 550px;
  }

  .search-wrap .search-box{
    position: relative;
    width: 600px;
    height: 66px;
  }
}
