*{
  padding: none;
  margin: none;
  font-family: serif monospace sans-serif;
  box-sizing: border-box;
}

body{
  margin: 0px;
}

.search-container{
  height: 180px;
  width: 100%;
  background: linear-gradient(45deg, #8a074d, #f261ae, #c71e78,  #f257aa, #8a074d);
  opacity: 60%;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.info{
  font-size: 21px;
  color: #000000;
  padding-top: 25px;
  padding-left: 10px;
  font-family: Helvetica;
}
