* {
  padding: 0;
  margin: none;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

body {
  margin: 0px;
}

body div .search-container {
  height: 180px;
  width: 100%;
  opacity: 60%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

div .info {
  font-size: 21px;
  color: #000000;
  padding-top: 25px;
  padding-left: 20px;
  padding-bottom: 50px;
  height: 10px;
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 600;
}

.search-container .input {
  border: 1px solid #a440a8;
  outline: none;
}

.search-wrap {
  width: 650px;
  margin: 15px auto;
}

.search-wrap .search-box {
  position: relative;
  width: 650px;
  height: 70px;
  z-index: -1000px;
}

.search-wrap .search-box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 18px;
  padding-right: 80px;
}

.search-wrap .search-box .input:hover {
  font-size: 19px;
}

.search-wrap .search-box .input:active {
  font-size: 18px;
}

form .search::after {
  content: '';
  clear: both;
  display: table;
}

button {
  border: 0px;
  outline: none;
}

.search-wrap .search-box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 80%;
  background: #701822;
  z-index: 1;
  cursor: pointer;
}

.search-wrap .search-box .btn:hover {
  background: #a33c49;
}

.search-wrap .search-box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 0;
}

.search-wrap .search-box .btn.btn_common .fas:hover {
  font-size: 23px;
}

.search-wrap .search-box .btn.btn_common .fas:active {
  font-size: 21.5px;
}

.search-wrap .search-box .btn {
  right: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  .info {
    font-size: 20px;
  }

  .search-container {
    border-radius: 0;
  }

  .search-wrap {
    width: 620px;
  }

  .search-wrap .search-box {
    position: relative;
    width: 620px;
    height: 65px;
  }

  .search-wrap .search-box .input {
    padding: 7px 17px;
    border-radius: 5px;
    font-size: 16.5px;
  }

  .search-wrap .search-box .input:hover {
    font-size: 17px;
  }

  .search-wrap .search-box .input:active {
    box-shadow: none;
    font-size: 16.5px;
  }
}

@media all and (min-width: 621px) and (max-width: 768px) {
  .info {
    padding-left: 15px;
    font-size: 19px;
  }

  .search-container {
    border-radius: 0;
  }

  .search-wrap {
    width: 550px;
  }

  .search-wrap .search-box {
    position: relative;
    width: 550px;
    height: 60px;
  }
}

@media all and (min-width: 300px) and (max-width: 620px) {
  .info {
    padding-left: 10px;
    font-size: 16px;
  }

  .search-wrap {
    width: 400px;
  }

  .search-wrap .search-box {
    position: relative;
    width: 400px;
    height: 55px;
  }
}

nav {
  height: 80px;
  width: 100%;
  font-family: 'Montserrat';
  border-bottom: 1px solid #a440a8;
  z-index: 10;
}

nav:after {
  content: '';
  clear: both;
  display: table;
}

img {
  padding-left: 30px;
  line-height: 70px;
  float: left;
  padding-top: 33px;
}

.checkbtn {
  font-size: 25px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

#check {
  display: none;
}

#cross {
  display: none;
  line-height: 80px;
  margin-right: 10px;
  font-size: 22px;
  cursor: pointer;
}

#check:checked + label i#bars {
  display: none;
}

#check:checked + label i#cross {
  display: block;
}

nav ul {
  float: right;
  padding-right: 30px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 5px;
}

li a:hover {
  color: #701822;
  font-size: 18.5px;
}

li a:active {
  font-size: 18px;
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  img {
    padding-left: 40px;
  }

  nav ul {
    padding-right: 40px;
  }

  nav ul li a {
    font-size: 17px;
  }

  nav ul li a:hover {
    font-size: 17.5px;
  }

  nav ul li a:active {
    font-size: 17px;
  }
}

@media all and (min-width: 621px) and (max-width: 768px) {
  img {
    padding-left: 20px;
  }

  nav ul {
    padding-right: 20px;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav ul li a:hover {
    font-size: 16.5px;
  }

  nav ul li a:active {
    font-size: 16px;
  }
}

@media all and (min-width: 300px) and (max-width: 620px) {
  img {
    padding-left: 10px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 60px;
    left: -100%;
    text-align: left;
  }

  nav ul li {
    display: block;
    margin: 30px 0px;
    line-height: 30px;
    text-align: left;
  }

  nav ul li a {
    color: #fff;
    font-size: 15px;
    padding-left: 30px;
  }

  nav ul li a:hover {
    font-size: 15.5px;
  }

  nav ul li a:active {
    font-size: 15px;
  }

  .checkbtn {
    display: block;
  }

  .search-wrap .search-box .input {
    font-size: 15px;
  }

  .search-wrap .search-box .input:hover {
    font-size: 15.5px;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

footer{
  font-size: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 50px;
  color: purple;
  border-top: 1px solid #a440a8;
}

.footer > *{
  flex: 1 100%;
}

.footer-left{
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer-left img{
  width: 50px;
}

li h2{
  font-weight: 600;
  font-size: 17px;
}

.footer ul{
  list-style: none;
  padding-left: 0;
}

.footer li{
  line-height: 2em;
}

.footer a{
  text-decoration: none'
}

.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.footer-right > *{
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a{
  color: red;
}

.footer-bottom{
  text-align: center;
  color: yellow;
  padding-top: 50px;
}

.footer-left p{
  padding-right: 20%;
  color: green;
}

.socials a{
  background: red;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.socials a i{
  color: green;
  
}
