*{
  margin:0;
  padding;0;
  box-sizing: border-box;
  color: white;
}

body{
  background: white;
}

img{
  padding-left: 20px;
  line-height: 70px;
  float: left;
  padding-top: 13px;
}

nav{
  background: #575757;

  height: 70px;
}

nav:after{
  content: '';
  clear: both;
  display: table;
}


nav ul{
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li{
  float: left;
  display: inline-block;
  margin: 27px 5px;
}


nav ul li:hover{

}

nav ul li:active{
  background: #e8e8e8;
  box-shadow: none;
}

nav ul li a{
  color: white;
  text-decoration: none;
  line-height: 40px;
  font-size: 20px;
  padding: 5px 15px 3px ;
  line-height: 30px;
  border-top: 40px;
}

nav ul li a:hover{
  color: #e78deb;
  font-size: 20.5px;
  box-shadow: 0 0 5px #b58ebf,
              0 0 5px #e8e8e8;
  border-radius: 5px;
}

nav ul li a:active{
  color: #e78deb;
  font-size: 20px;
}
