*{
  margin:0;
  padding;0;
  font-family: serif monospace sans-serif;
  box-sizing: border-box;
}

body{
  background: white;
}


nav{
  background: white;
  border: 1px solid #e78deb;
  height: 80px;
  width: 100%
}

nav:after{
  content: '';
  clear: both;
  display: table;
}

img{
  padding-left: 60px;
  line-height: 70px;
  float: left;
  padding-top: 19px;
}

.checkbtn{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

#check{
  display: none;
}

nav ul{
  float: right;
  padding-right: 60px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 5px
}

nav ul li a:hover{
  color: #701822;
  font-size: 18.5px;
}

nav ul li a:active{
  font-size: 19px;
}



@media all and (min-width: 769px) and (max-width: 1024px){

  nav ul li a{
    font-size: 22px;
  }

  nav ul li a:hover{
    font-size: 22.5px;
  }

  nav ul li a:active{
    font-size: 22px;
  }

}

@media all and (min-width: 481px) and (max-width: 768px) {

  img{
    padding-top: 25px;
    padding-left: 5px;
    width: 130px;
  }

  .checkbtn{
    display: block;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    padding-left: 20px;
  }

  nav ul li{
    display: block;
    margin: 50px 0px;
    padding-right: 500px;
    line-height: 10px;
    text-align: left;

  }

  nav ul li a{
    font-size: 18px;
  }

  nav ul li a:hover{
    font-size: 18.5px;
  }

  nav ul li a:active{
    font-size: 18px;
  }

  #check:checked ~ ul{
    left: 0;
  }
}

@media all and (min-width: 320px) and (max-width: 480px){

  img{
    padding-top: 25px;
    padding-left: 1px;
    width: 110px;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0px;
    line-height: 30px;
    text-align: center;
  }

  nav ul li a{
    font-size: 20px;

  }

  nav ul li a:hover{
    font-size: 20.5px;
  }

  nav ul li a:active{
    font-size: 20px;

  }

  .checkbtn{
    display: block;
  }

  #check:checked ~ ul{
    left: 0;
  }

}
